body {
  background-color: #0b0b28
}

#card-container {
  background-color: rgba(255,255,255,0.25);
  color: white;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Chrome/Safari/Opera */
  -moz-user-select: none;      /* Firefox */
  -ms-user-select: none;
  width: 100%;
  height: 400px;
}

#card {
  margin-left: auto;
  margin-right: auto;
  background-color: rgba(255,255,255,0.25);
  width: 830px;
  height: 400px;
}

.side {
  float: left;
  background-color: gray;
  width: 400px;
  height: 200px;
  margin-left: 10px;
}

#nextCardButton {
  margin-top: 15px;
  margin-left: 315px;
  float: left;
  width: 200px;
  height: 50px;
  background-color: rgba(255,255,255,0.25);
}
